.box {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
    background-color: #ffffff;
    transition: background-color 500ms;
    border: 2px solid #000000;
    cursor: pointer;
}

.selected {
    background-color: #448b44;
    cursor: default;
    transition: background-color 500ms;
}